/* Nav.css */
.nav-container {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 10px 20px;
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .nav-item {
    float: left;
  }
  
  .nav-link {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .nav-link:hover {
    background-color: #2980b9;
  }
  
  .nav-link.active {
    background-color: #007bff;
  }
  
  .main-content {
    display: flex;
    margin-top: 20px; /* Adjust as needed to provide space for the navbar */
  }
  
  .sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding-top: 20px;
    height: 100vh;
    position: fixed;
    top: 67px; /* Ensure it starts below the navbar */
  }
  
  .sidebar-link {
    display: block;
    width: 80%;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background: none;
    border: none;
    text-align: left;
    font-size: 1rem;
  }
  
  .sidebar-link.active {
    background-color: #007bff;
    color: white;
  }
  
  .sidebar-link:hover {
    background-color: #0056b3;
    color: white;
  }
  
  .page-content {
    margin-left: 200px;
    padding: 20px;
    width: calc(100% - 200px);
  }
  .page-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .email-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .email-table th,
  .email-table td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .email-table tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  